.profile__add-button {
  max-width: 150px;
  min-height: 50px;
  background-color: black;
  border: none;
  outline: none;
  padding: 0;
  justify-content: flex-end;
  align-items: center;

}

@media (max-width: 575px){
  .profile__add-button {
    max-width: 282px;
  }
}
